@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Oswald&display=swap');

/* =======================================

	CommonElements

======================================= */
html {
	font-size: 16px;
}
body {
    padding-bottom: 50px;
	min-height: 100vh;
	line-height: 140%;
	font-family: 'Noto Sans JP',Helvetica,Arial,sans-serif;
	color: #000;
	text-align: center;
	position: relative;
    box-sizing: border-box;
}

a:link { text-decoration:none; color: #000;}
a:visited { text-decoration:none; color: #000;}
a:active { text-decoration:none; color: #000;}
a:hover { text-decoration:none; color: #000;}

h1 {
	margin-bottom: 30px;
	padding: 30px 0;
	background: #000;
	color: #fff;
    font-family: 'Oswald', sans-serif;
	font-size: 1.4rem;
	text-align: center;
	letter-spacing: 1px;
}
body > small {
	padding: 15px 0;
	bottom: 0;
	left: 0;
	width: 100%;
    font-family: 'Oswald', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;
	position: absolute;
}

dl {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
}
dl dt {
    margin: 30px auto 10px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    border-bottom: #111 3px solid;
}
dl dd div {
    margin: 0 auto 15px;
    background: #e9e9e9;
    border-radius: 10px;
}
dl dd div label {
    padding: 15px;
    display: block;
}
dl dd div span {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    display: block;
}
